<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FixThat</title>

    <!-- Custom fonts for this template-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/fixthat.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <ul th:include="fragments/menu :: pagemenu" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    </ul>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">

            <nav th:include="fragments/topbar :: topbar" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            </nav>

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Dodaj propozycje</h1>
                    <a href="/orders" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"> Cofnij</a>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                    </div>
                    <form th:object="${proposition}" method="post" th:action="@{|/orders/${order}/add|}">
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                        </div>
                        <div class="form-group">
                            <label>Price</label>
                            <input type="text" th:field="*{price}" class="form-control" id="name" placeholder="Nazwa">
                            <input type="hidden" th:field="*{id}"/>
                            <input type="hidden" th:field="*{orderId}" th:value="${order}"/>
                        </div>
                        <div class="form-group">
                            <label>Finish time</label>
                            <select class="form-control" th:field="*{days}">
                                <option th:value="1" th:text="one"></option>
                                <option th:value="2" th:text="two"></option>
                                <option th:value="3" th:text="three"></option>
                                <option th:value="4" th:text="four"></option>
                                <option th:value="5" th:text="five"></option>
                            </select>
                        </div>

                        <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<footer class="sticky-footer bg-light-red" th:include="fragments/footer :: pagefooter"></footer>

</body>

</html>